In [15]:
for i in range(20):
     print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [29]:
for i in range(10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [31]:
list=[10,20,14,55,43,87,76]
total_inputs=len(list)
print("Number of item in the List2:",total_inputs)

Number of item in the List2: 7

In [33]:
C_Name=("Artificial Intelligence")
print("Artificial Intelligence")
for char in C_Name:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [37]:
name=input("Your Name:")
age=int(input("Your Age:"))
profession=input("Your Profession:")

Your Name: Akaliya
Your Age: 25
Your Profession: Student

In [43]:
my_tuple=(1,'Welcome',2,'marstech')
print(my_tuple)

(1, 'Welcome', 2, 'marstech')

In [51]:
Tuple1=(0,1,2,3)
Tuple2=('python','marstech')
print((Tuple1,Tuple2))

((0, 1, 2, 3), ('python', 'marstech'))

In [72]:
Num1=[20,10,16,19,25,1,276,188]
for i in Num:
    if i%2!=0:
        print(i, "is odd")

19 is odd
25 is odd
1 is odd

In [76]:
Num2=[20,10,16,19,25,1,276,188]
for i in Num2:
    if i%2==0:
        print(i, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even