In [1]:
#Questions are mentioned in comment
# print 0 to 20 by using range in verticle line
for i in range(20):
     print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
# print range 10 to 20
for i in range(10,20):
     print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [9]:
# print number of items in the list by using ‘len’
#[10, 20, 14, 55, 43, 87, 76]
#Number of item in the List2:
list=[10,20,14,55,43,87,76]
total_inputs=len(list)
print("Number of item in the List:",total_inputs)

Number of item in the List: 7

In [11]:
C_Name=("Artificial Intelligence")
print("Artificial Intelligence")
for char in C_Name:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [13]:
#Your Name-
#Your Age-
#Your Profession-
name=input("Your Name:")
age=int(input("Your Age:"))
profession=input("Your Profession:")

Your Name: Akal
Your Age: 22
Your Profession: Student

In [15]:
# (1, ‘Welcome’ , 2, ‘mars tech’)
my_tuple=(1,'Welcome',2,'marstech')
print(my_tuple)

(1, 'Welcome', 2, 'marstech')

In [17]:
#Tuple1 = (0,1,2,3)
#( (0, 1, 2 ,3), (‘python’, ‘mars tech’) )
Tuple1=(0,1,2,3)
Tuple2=('python','marstech')
print((Tuple1,Tuple2))

((0, 1, 2, 3), ('python', 'marstech'))

In [28]:
#(20,10,16,19,25,1,276,188)
#19 is odd
#25 is odd
#1 is odd
Num2=[20,10,16,19,25,1,276,188]
for i in Num2:
    if i%2!=0:
        print(i, "is odd")
    else:
        print(i, "is even")

20 is even
10 is even
16 is even
19 is odd
25 is odd
1 is odd
276 is even
188 is even